* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('../../assets/background-numeros.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.42);
    box-shadow: inset 10px 10px 300px 200px rgba(0,0,0,0.42);
}

#container {
    display: flex;
    height: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 2rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#box-title {
    height: 20%;
    font-size: 14pt;
    gap: 1rem;
    padding: 10px;
}

#forms {
    gap: 1rem;
    padding: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputs {
    padding-left: 20px;
    width: 250px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;        
    font-size: 14pt;
}

#btn-ver {
    width: 130px;
    height: 40px;
    font-size: 14pt;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;    
    transition-duration: 0.3s;
}

#btn-ver:hover {
    background-color: black;
    color: #ffffff;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    gap: 0.6rem;
    padding-bottom: 20px;
    font-size: 16pt;
}

@media(max-width: 650px) {
    #container {
        width: 85%;
    }
}